{% extends 'main/base.html' %}
{% block title %}
    About
{% endblock %}
{% block navigation %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="#">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'feedback' %}">Feedback</a>
    </div>
{% endblock %}



{% block main %}
    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
        <h2>About</h2>
    </div>

{% endblock %}