{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    About
{% endblock %}
{% block navigation %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="#">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'feedback' %}">Feedback</a>
        <a href="#">
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <label>
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="Go">
        </form>
        </a>
    </div>
{% endblock %}



{% block main %}
    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
        <div class="main_center">
            <h1>About me</h1>
        </div>
        <div class=" w3-container" style="height:700px">
            <div class="w3-padding-64 w3-center">
                <img src="{% static 'img/image2.jpg' %}" class="w3-margin w3-circle" alt="Person" style="width:30%">
                <div class="w3-center-align w3-padding-large">
                    <p>Lorem ipusm sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
                        fringilla.</p>
                    <p>Lorem ipusm sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non
                        fringilla.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}