{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block navigation %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'about' %}">About</a>
        <a href="#">Contact</a>
        <a href="{% url 'feedback' %}">Feedback</a>
        <a href="#">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <label>
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <input type="submit" value="Go">
            </form>
        </a>
    </div>
{% endblock %}


{% block main %}
    <div id="main">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
        <div class="main_center">
            <h1>Contact</h1>
        </div>
        <div class="w3-container w3-light-grey">
            <br>
            <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
            <div style="margin-top:48px;">
                <div class="center">
                    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Moscow, Ru</p>
                    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +89372436091</p>
                    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: mr.tikhonov1@gmail.com
                    </p>
                    <p><i class="fa fa-github fa-fw w3-xxlarge w3-margin-right"> </i> github.com/tellow-it</p>
                </div>
                <!-- Image of location/map -->
                <img src="{% static "img/map.jpg" %}" class="w3-image w3-greyscale"
                     style="width:100%;margin-top:48px;height: 440px" alt="city">
            </div>
        </div>
    </div>

{% endblock %}
