{% extends 'main/base.html' %}
{% block navigation %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="#">Feedback</a>
    </div>
{% endblock %}


{% block main %}
    <div id="main">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
        <h2>Feedback</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
        {#        <form action="{% url 'main:telegram_bot_send_text' %}" class="decor" method = "get">#}
        {#            <div class="form-left-decoration"></div>#}
        {#            <div class="form-right-decoration"></div>#}
        {#            <div class="circle"></div>#}
        {#            <div class="form-inner">#}
        {#                <h3>Написать нам</h3>#}
        {#                <input type="text" name="username" placeholder="Username" required>#}
        {#                <input type="email" name="mail" placeholder="Email" required>#}
        {#                <textarea placeholder="Сообщение..." name="text" rows="4" required></textarea>#}
        {#                <input type="submit" value="Отправить">#}
        {#            </div>#}
        {#        </form>#}
    </div>

{% endblock %}
