{% extends 'main/base.html' %}
{% load i18n %}
{% block navigation %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'blog' %}">Blog</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="#">Feedback</a>
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <label>
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="Go">
        </form>
    </div>
{% endblock %}


{% block main %}
    <div id="main">

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
        <div class="main_center">
            <h2>FeedBack</h2>
        </div>
        <form method="POST" class="decor">
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
                <h3>Написать нам</h3>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Отправить">
            </div>
        </form>
    </div>

{% endblock %}
