{% extends 'main/base.html' %}
{% block navigation %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
{% endblock %}

{% block header %}
    <h2>Index new</h2>

{% endblock %}

{% block main %}
    <div id="main">
        <h2>Sidenav Push Example</h2>
        <p>Click on the element below to open the side navigation menu, and push this content to the right. Notice that
            we add a black see-through background-color to body when the sidenav is opened.</p>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ open</span>
    </div>
{% endblock %}
